<h1>Add a new repository</h1>

<form onsubmit="if (this.submitted) return false; this.submitted = true; return true"
      name="jiraform"
      method="post"
      action="AddVcsRepository.jspa">

    <table>
        <thead>
            <td>Path To Repo On Filesystem</td>
        </thead>
        <tr>
            <td><input type="text" name="path"/></td>
            <td><input type="submit" name="add" value="Add New Repo"/></td>
        </tr>
    </table>

</form>